.chatList {
  padding-top: 10px;
  padding-bottom: 10px;
}

.userItem {
  display: flex;
}

.assistantItem {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.assistantItem:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.userBubble {
  max-width: 90%;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--assistantBubbleBackgroundColor);
  color: var(--assistantBubbleTextColor);
}

.userBubble p {
  margin: 4px 0;
}

.userBubble p:first-child {
  margin-top: 0;
}

.userBubble p:last-child {
  margin-bottom: 0;
}

.assistantBubble {
  max-width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--userBubbleBackgroundColor);
  color: var(--userBubbleTextColor);
  overflow-x: auto;
}

.assistantBubble p {
  margin: 4px 0;
}

.assistantBubble p:first-child {
  margin-top: 0;
}

.assistantBubble p:last-child {
  margin-bottom: 0;
}
