.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: var(--bg-color);
}

.toolbar {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.toolbar button {
  margin-left: 10px;
}
