:root {
  --bg-color: #eee;
  --text-color: #000;
  --userBubbleBackgroundColor: #eee;
  --userBubbleTextColor: #000;
  --assistantBubbleBackgroundColor: #b2e281;
  --assistantBubbleTextColor: #000;
}

/* 深色模式 */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --text-color: #fff;
    --userBubbleBackgroundColor: #eee;
    --userBubbleTextColor: #000;
    --assistantBubbleBackgroundColor: #b2e281;
    --assistantBubbleTextColor: #000;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 12px;
}

textarea {
  display: block;
  width: 100%;
  resize: none;
}
